body {
  background-image: url("https://i.pinimg.com/564x/bc/9c/53/bc9c53db9a7ff7c9ca8af2283f264b4f.jpg");
  color: white;
}

.principal-container{
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 126px 175px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px 0px 126px 175px rgba(0,0,0,0.95);
  box-shadow: 0px 0px 126px 175px rgba(0,0,0,0.95);
}

.advertising-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #0a0b0b;
  text-align: center;
  padding: 1.4em 0;
}

.browse-films{
  background-color: black;
  font-size: 2em;
  padding: 1em 0;
  padding-left: 2.3em;
}

.browse-films-bar{
  height: 4px;
  background-color: white;
}

.advertising-bar a{
  color: white;
  text-decoration: none;
}

.advertising-bar a:hover{
  cursor: pointer;
  text-decoration: none;
}

.advertising-bar a:visited{
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-right: 10em;
  background-color: black;
  /* -webkit-box-shadow: 0px 0px 126px 175px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px 0px 126px 175px rgba(0,0,0,0.95);
  box-shadow: 0px 0px 126px 175px rgba(0,0,0,0.95); */
}

.films-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: 10px;
    padding: 10px;
    align-content: center;
}

.film img {
  width: 101%;
  max-height: 350px;
  min-height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.bar{
    display: flex;
    flex-direction: row;
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 2em 0;
}

.film-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.5em 0;
}

.film-link{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 25%;
    min-width: 245px;
    max-width: 260px;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.film-link:hover{
    text-decoration: none;
}

/* .film-link:visited {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
} */

.aside-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  padding-left: 4em;
  border-right: 1px solid white;
  justify-content: flex-end;
  align-content: flex-start;
}

.aside-text{
  width: 100%;
  text-align: left;
  margin: 0.5em 0;
  font-size: 1.2rem;
}

.aside-text:hover{
  cursor: pointer;
}

