@media (min-width: 576px) {
}

@media (min-width: 768px) {
}
@media (max-width: 1199px) {
  .container {
    display: none;
    
  }
}

@media (min-width: 1200px) {
    .container{
        min-width: 100vw;
        height: auto;
        position: relative;
        background-color: black;
    }
    .container_slider{
        position: absolute;
    }
  .slideImg {
    height: 100%;
    min-width: 100vw;
    background-repeat: no-repeat;
  }

  /*-------------TEXTO--------------*/
  .title {
    font-size: 37px;
    font-weight: 500;
    line-height: 48px;
    display: block;
    padding-bottom: 25px;
  }
  .content {
    font-size: 23px;
    font-weight: 400;
  }
  .divText {
    width: 480px;
    position: absolute;
    color: white;
    text-align: left;
    z-index: 5;
    top: 24%;
    padding-left: 80px;
  }
  .img_preview {
    top:    86%;
    width: 760px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 18.5%;
  }
  
  
}
@media (min-width: 1250px) {
  .img_preview{
      top:86.5%;
      left: 19.5%;
  }}
@media (min-width: 1300px) {
    .img_preview{
        top:87%;
        left:21%;
    }
}
@media (min-width: 1350px) {
  .img_preview{
      top:87.5%;
      left:22%
  }}
@media (min-width: 1400px) {
    .img_preview{
        top:88%;
        left:23%
    }
}
@media (min-width: 1450px) {
    .img_preview{
        top: 88.5%;
        left:24%
    }
}
@media (min-width: 1500px) {
    .img_preview{
        top:89%;
        left:25%
    }
}
@media (min-width: 1550px) {
  .img_preview{
      top:89.5%;
      left:25.5%
  }
}
@media (min-width: 1600px) {
  .img_preview{
      top:89.7%;
      left:26%
  }
}
@media (min-width: 1650px) {
  .img_preview{
      top:90%;
      left:27%
  }
}
@media (min-width: 1700px) {
  .img_preview{
      top:90.5%;
      left:27.5%
  }
}
@media (min-width: 1750px) {
  .img_preview{
      top:90.5%;
      left:28.2%
  }
}
@media (min-width: 1800px) {
  .img_preview{
      top:91%;
      left:28.8%
  }
}
@media (min-width: 1850px) {
  .img_preview{
      top:91.1%;
      left:29.5%
  }
}
@media (min-width: 1900px) {
  .img_preview{
      top:91.4%;
      left:30%
  }
}
@media (min-width: 1950px) {
  .img_preview{
      top:91.6%;
      left:30.5%
  }
}
@media (min-width: 2000px) {
  .img_preview{
      top:91.7%;
      left:31%
  }
}
