/* contenedro de TODAS las card */
.cards-wrapper-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 10px;
}
/* contenerdor de la card */
.card-li {
  display: flex;
  flex-direction: column;
}
.card-li img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Zona del nombre del personaje */
.card-info {

  padding: 6px 0;
  height: 12vh;
  width: 100%;
  background-color: #1d1e1f;
}
/* Nombre del personaje */
.card-info span {
  color: white;
  cursor: pointer;
  padding: 0 4px;
  font-weight: bold;
}
/* Barra y punto entre foto y nombre del personaje */
.card-decal {
  position: relative;
  padding-bottom: 10px;
}
/* para que card-decal haga hover al entrar en cualquier parte de la card */
.card-li:hover .card-decal::after {
  box-shadow: 0px 0px 4px 1px #c6ecfa;
  background-color: #fff;
  transition: 200ms ease-in-out;
}
.card-li:hover .card-decal::before {
  box-shadow: 0px 0px 4px 1px #c6ecfa;
  background-color: #fff;
  transition: 200ms ease-in-out;
}
/* efecto hover de .card-decal */
.card-decal::before {
  position: absolute;
  content: "";
  background-color: #5a5c5d;
  height: 4px;
  width: 4px;
  z-index: 2;
  left: 32px;
  border-radius: 4px;
}
.card-decal::after {
  position: absolute;
  content: "";
  background-color: #5a5c5d;
  height: 4px;
  width: 24px;
  border-radius: 4px;
  left: 4px;
  z-index: 2;
}
/* border inferior con muesca negra */
span.border-bottom::before {
  float: left;
  border-right: 12px solid transparent;
  width: 30%;
  border-top: 12px solid #1d1e1f;
  content: "";
  border-bottom-left-radius: 6px;
}
.border-bottom-container {
  display: inline;
  width: 100%;
  background-color: black !important;
}
.half-bottom-card {
  background-color: black;
}
span.border-bottom::after {
  float: right;
  border-left: 12px solid transparent;
  width: 30%;
  border-top: 12px solid #1d1e1f;
  content: "";
  border-bottom-right-radius: 6px;
}

/* /////////////////////////////////////// */

@media (max-width: 767px) {
  /* ocultar barrita luminosa, también con display:none */
  .card-decal {
    visibility: collapse;
  }
  /* constedor de todas las card */
  .cards-wrapper-ul {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  /* contenedor de la card */
  .card-li {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  /* conentedor de la imagen */
  .card-li img {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    background-color: #1d1e1f;
  }

  /* parte derecha de la card, con el nombre y la info del personaje */
  .card-info {
    padding: 6px 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: 6px;
  }
  /* nombre del personaje */
  .card-info span {
    padding-left: 1em;
    font-size: 1.3rem;
    font-weight: 400;
  }
  /* border con muesca negra */
  .half-bottom-card {
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 6px;
    width: 100%;
  }
  span.border-bottom::before {
    border-bottom-left-radius: 0;
    width: 35%;
  }
  span.border-bottom::after {
    width: 25%;

  }

}
