.gallery-container {
  background-color: #000;
  height: 100vh;
  width: 100%;
}

.title-gallery {
  width: 100%;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 1.2em;
  margin-bottom: -1em;
}

.title-line {
  position: absolute;
  border-top: 1px solid #454545;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2em;
}

.title-line > span {
  margin-left: 0.5em;
  background-color: #000;
  padding: 0.5em 0.1em;
  padding-right: 0.3em;
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em 1em;
  margin-top: 2em;
}

@media (min-width: 768px) {
 
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

} 