.slideImg{
    height: 100%;
    min-width: 100vw;
    background-repeat: no-repeat;
}

/*-------------TEXTO--------------*/
.title{
    font-size: 37px;
    font-weight: 500;
    line-height: 48px;
    display: block;
    padding-bottom: 25px;
}
.content{
    font-size: 23px;
    font-weight: 400;
    
    
}

@media (min-width: 576px) { 
    
 }

@media (min-width: 768px) { 
    
 }
@media (min-width: 992px) { 
    
 }

@media (min-width: 1200px) {
    
 }
@media (min-width: 1400px) {
    .slideImg{
        height: 100%;
        min-width: 100vw;
        background-repeat: no-repeat;
    }
    .container{
        position: absolute;
        
    }
    /*-------------TEXTO--------------*/
    .title{
        font-size: 37px;
        font-weight: 500;
        line-height: 48px;
        display: block;
        padding-bottom: 25px;
    }
    .content{
        font-size: 23px;
        font-weight: 400;
        
    }
    .divText{
        width: 480px;
        position: absolute;
        color: white;
        text-align: left;
        z-index: 5;
        top: 24%;
        padding-left: 80px;
    }  
} 