footer {
  text-align: center;
  margin-top: 20%;
  background-color: #0b0b0b;
  height: 20em;
  color: white;
}
div .info{
    padding-top: 1em;
    font-size: 1.2em;
}
div .icon{
    color: white;
    fill: currentColor;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: x-large;
    border-radius: 60px
}
/* svg.icon {
  width: 100%;
  display: inline-block;
  margin-top: 3em;
  color: white;
  padding-top: 5%;
    display: inline-block;
    font-size: x-large;
    border-radius: 60px
} */
/* footer .fa-stack {
  color: #7aa194;
}
footer .fa-stack:hover {
  color: white !important;
}
footer .fa-circle:hover {
  border: 2px solid var(--lightblue);
}

footer .fa-brands {
  color: white;
}
footer .fa-brands:hover {
  color: var(--lightblue);
} */
/* footer span {
  width: 60px;
  height: 60px;
  display: inline-flex;
  background-color: #7aa194;
  border-radius: 100%;
  margin-right: 0.5em;
}
footer span i {
  margin-left: 30%;
  margin-top: 30%;
} */
.p2 {
  font-size: 1.3em;
  font-weight: normal;
  color: white;
  margin-top: 3%;
}
footer a {
  color: #7aa194;
}
footer a:hover {
  color: var(--lightblue);
}