.nav__link_left{
    text-align: left;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .nav__link_left a {
    font-weight: bold;
    padding-left: 4.3rem;
  }
  
  .nav__link_left a.active + .nav__link-bar_left {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  .nav__link_left a:hover {
    color: #fff;
  }
  .nav__link-bar_left{
    display: block;
    width: 2px;
    height: 24px;
    margin-left: 3.7rem;
    margin-top: -18px;
    box-shadow: 0 0 5px 2px #fade4b;
    border: 1px solid #fff;
    opacity: 0;
    transition: opacity 0.5s linear;
    color: #fade4b;
    
  }